:root {
  --white: white;
  --black: black;
  --grey: #312e2e;
  --first-color: #901c1c;
  --scd-color: #fafafa;
  --tertiary-color: #db8876;
}

/* header */
header img.logo {
  width: 200px;
  margin: 50px 100px;
}
/* Photograph-header */
.photograph_header {
  background-color: var(--scd-color);
  height: 300px;
  margin: 0 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.photograph_infos {
  margin-left: 30px;
  order: 1;
}
.photograph_infos h2 {
  font-size: 64px;
  color: var(--tertiary-color);
  margin: 0;
  text-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
}
.photograph_infos h3 {
  font-size: 36px;
  font-weight: 900;
  color: var(--first-color);
  text-shadow: 3px 1px 4px rgba(0, 0, 0, 0.25);
  margin: 20px 0;
}
.photograph_infos p {
  font-size: 30px;
  color: #525252;
  margin: 0;
}
.photograph_contact {
  order: 2;
}
.contact_button,
.submit_button {
  font-size: 20px;
  font-weight: bold;
  color: var(--white);
  margin: 15px 0;
  width: 170px;
  height: 70px;
  display: block;
  border: none;
  background-color: var(--first-color);
  border-radius: 5px;
  cursor: pointer;
}
.contact_button:hover,
.submit_button:hover {
  background: #791818;
}
.submit_button.shake {
  animation: shake 0.4s;
}
@keyframes shake {
  33% {
    transform: translateX(-5px);
  }
  66% {
    transform: translateX(+5px);
  }
}
.photograph_img {
  order: 3;
}
.photograph_img img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  object-position: center;
  object-fit: cover;
  margin-right: 30px;
}
/************ Main part ******************/
/* filter */
.photograph_body {
  margin: 20px 100px;
}
.filter {
  display: flex;
}
span.filter_by {
  font-size: 24px;
  font-weight: bold;
  padding: 7px 10px;
  margin-right: 20px;
  color: #464545;
}
.dropdown {
  max-width: 300px;
  height: 55px;
  border-radius: 5px;
  padding: 9px 20px;
  color: var(--white);
  background: var(--first-color);
  transition: height 0.4s ease-in-out;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}
.bloc_top {
  display: flex;
  width: 100%;
  padding: 10px;
  border: none;
  background: var(--first-color);
  border-radius: 5px;
  color: var(--white);
  font-size: 20px;
  font-weight: bold;
  font-family: open;
  cursor: pointer;
}
button.bloc_top span {
  padding: 10px;
}
button.bloc_top .icon {
}
.bloc_filter {
  display: flex;
  flex-direction: column;
}
hr.separator {
  width: 90%;
  background: white;
  margin: 2 auto;
}
.bloc_filter span {
  padding: 15px 20px;
  font-size: 20px;
  font-weight: bold;
}
.bloc_filter span:last-child {
  padding-bottom: 25px;
}

/* Main part container MEF */
.medias_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px 40px;
  margin: 30px 0;
}
article.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  aspect-ratio: 1/1;
  width: 100%;
}
.media_img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
}
.media_mp4 {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
}
.info {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.title_photo {
  font-size: 24px;
  color: var(--first-color);
}
.likes_photo {
  font-size: 24px;
  color: var(--first-color);
}
/* Main part like and rate */
.block_likes_price {
  position: fixed;
  bottom: 0;
  right: 50px;
  min-width: 300px;
  min-height: 80px;
  background: var(--tertiary-color);
  border-radius: 5px 5px 0 0;
}
